.shopping-cart-header {
    text-align: center;
    color: white;
}

.empty-cart-message {
    text-align: center;
    color: white;
    margin-top: 100px;
    font-size: 30px;
}

.cart-item-image {
    width: auto;
    height: 150px;
}

.cart-item-name {
    text-align: center;
}

.cart-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.cart-item-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    margin: 20px;
    /* padding: 10px; */
    border-radius: 20px;
    height: 400px;
    padding: 10px;
}

.button {
    border-radius: 10px;
    border: none;
    padding: 8px 17px 8px 17px;
    font-size: 15px;
    margin: 10px;
}
.map-cart-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}