 .store-header {
    text-align: center;
    color: white;
}
.map-store-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.store-item-container {
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 10px;
    height: 325px;
    width: auto;
}

.store-item-image {
    width: auto;
    height: 200px;
}

.store-item-name {
    font-size: 25px;
    color: aliceblue;
    text-decoration: underline;
}


