.item-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    /* padding: 50px; */
    /* border: 1px solid black; */
}

.store-item-text-container {
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr; */
    /* padding: 50px; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.store-item-info-image-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}

.store-item-info-name, .store-item-info-description, .store-item-info-price {
    /* text-align: center; */
    /* padding: 25px; */
    color: white;
}

.store-item-info-name {
    padding-bottom: 40px;
}

.store-item-info-image {
    width: auto;
    height: 500px;
    /* border: 1px solid black; */
}

.add-button {
    width: 35%;
    padding: 15px 30px 15px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
}