.gridBBB a {
	cursor: pointer;
}

.gridBBB {
	padding: 1% 15% 2%;
	grid-template-columns: auto;
	gap: 10% 5%;
	/* grid-template-rows: 200%; */
	display: grid;
	justify-content: space-evenly;
    margin: 0 17%;
}

.grid-itemBBB {
	background-color: dodgerblue;
	color: white;
	/* padding: 10%; */
	max-width: 100%;
	height: auto;
}

.sc-container .grid-itemBBB {
	filter: brightness(100%);
	transition: all 0.3s ease;
}

.sc-container:hover .grid-itemBBB {
	filter: brightness(30%);
}

/* Standard syntax */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1370px) {
	.gridBBB {
        margin: 0 10%;
		gap: 10% 8%;
	}
}
@media (max-width: 991px) {
	.gridBBB {
        margin: 0 7%;
		gap: 5% 8%;
        padding: 3%;
	}
}

@media (max-width: 768px) {
	.gridBBB {
        margin: 0;
		gap: 2% 0%;
		padding: 2% 15%;
	}
}
