.bbbcover {
    display: block;
    margin: auto;
    padding-top: 3.5%;
    height: 50vh;
}
.cover-container {
    margin: auto;
    text-align: center
}

.presave {
    position: relative;
    font-size: 2vw;
    width: 100%;
    left: 0px;
    color: white;
    text-decoration: none;
}

.presave:hover {
    color: #ff9e2f;
    transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -webkit-transition-duration: 100ms;

}

/*------------------MEDIA ADJUSTMENTS-------------*/

@media (max-width: 991px) {
    .presave {
        font-size: 5vw;
    }
    .bbbcover {
        height: 40%;
        width: 65%;
    }
}

@media (max-width: 768px) {
    .bbbcover {
        height: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        transform: translate(-50%, -50%);
    }

    .presave-container {
        position: absolute;
        top: 20%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 420px) {
    .presave {
        font-size: 7vw;
    }
    
    .bbbcover {
        width: 90%;
        height: auto;
    }
}
