.grid {
	padding: 2% 15%;
	grid-template-columns: auto auto auto auto;
	gap: 10% 5%;
	/* grid-template-rows: 200%; */
	display: grid;
	justify-content: space-evenly;
}

.grid-item {
	background-color: dodgerblue;
	color: white;
	/* padding: 10%; */
	max-width: 100%;
	height: auto;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .80);
	animation: .5s ease-out 0s 1 fadeInUp;
	overflow: hidden;
}

/* Standard syntax */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Standard syntax */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1370px) {
	.grid {
		grid-template-columns: auto auto auto;
		gap: 10% 8%;
	}
}
@media (max-width: 991px) {
	.grid {
		grid-template-columns: auto auto;
		gap: 5% 8%;
	}
}

@media (max-width: 768px) {
	.grid {
		grid-template-columns: auto;
		gap: 2% 0%;
		padding: 7% 15%;
	}
}