.grid {
	padding: 2% 15%;
	grid-template-columns: auto auto auto auto;
	gap: 10% 5%;
	/* grid-template-rows: 200%; */
	display: grid;
	justify-content: space-evenly;
}

.grid-item {
	background-color: dodgerblue;
	color: white;
	/* padding: 10%; */
	max-width: 100%;
	height: auto;
}

.modal-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .75)
}

/* @media (min-width: 600px) {
.cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
.cards { grid-template-columns: repeat(3, 1fr); }
} */