.fa-style {
	color: white;
	font-size: 8vw; 
}

.grid-modal {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	gap: 28% 18%;
	align-items: center;
	justify-items: center;
	padding: 0%;

	position: absolute;
    top: 54%; /* Change these for media queries */
    left: 50%; /**/
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.coverContainer {
	width: 33%;
	display: block;
	margin: auto;
	text-align: center;
}

/* Hover effects */
.coverContainer:hover .main-image {
	opacity: .5;
}

.coverContainer:hover .hide {
	display: block;
}

.hide {
	display: none;
}

.main-image {
	z-index: -1;
	max-width: 100%;
	position: relative; 
	left: 50%;
	transform: translateX(-50%);

	transition: 0.3s;
}

.hide > h1 {
	font-size: 2.5vw;
	top: 24%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	position: absolute;
	color: white;
}

.coverContainer > h2 {
	font-family: Conthrax;
	font-size: 1.5vw;
	margin-top: 8%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	position: relative;
	color: white;
}