.background {
  z-index: -1;
  position: absolute;
  background-Image: url("Site_Assets/space.png");
  height: 100vh;
  width: 100%;
}

/* Resizing window will resize class from center */
.center-pivot {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Centers earth video */
.earth-video {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Container w/size of device screen */
.home-container {
  height: 100vh;
  width: 100%;
}

/* NavButton grid */
.flex-grid {
	display: flex;
  justify-content: space-between;
  padding: 5% 7%;
  /* padding: calc(50px + 1.5625vh) calc(8px + 1.5625vw); */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */