.background {
  z-index: -1;
  position: absolute;
  background-Image: url("Site_Assets/space.png");
  height: 100vh;
  width: 100%;
}

.center-pivot {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.earth-video {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home-container {
  height: 100vh;
  width: 100%;
}

.flex-grid {
	display: flex;
  justify-content: space-between;
  padding: 5% 7%;
  /* padding: calc(50px + 1.5625vh) calc(8px + 1.5625vw); */


}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}