@font-face {
  font-family: Conthrax;
  src: url("./Site_Assets/Fonts/conthrax-sb.ttf");
}

@font-face {
  font-family: Pirulen;
  src: url("./Site_Assets/Fonts/pirulen-rg.otf");
}

body {
  margin: 0;
  font-family: 'Pirulen', 'Conthrax', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
