/* Centers earth video */
.earth-video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    width: 100%;
}

@media (max-width: 991px) {
	.video-wrapper, .video-wrapper-mv {
        width: 70%;
    } 
}

@media (max-width: 768px) {
    .earth-video {
        display: block;
        margin-left: auto;
        margin-right: auto;

        position: relative; 
        left: auto; 
        top: auto; 
        transform: none;
    }
}

@media (max-width: 425px) {
    .earth-video {
        height: 100%;
    }

    .video-wrapper-mv {
        padding: 5%;
    }
}